<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$this_auth.name}_煤问题后台管理</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="__HPLUS__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__HPLUS__/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <!--编辑器控件-->
    
    <link rel="stylesheet" type="text/css" href="__HPLUS__/css/plugins/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="__HPLUS__/css/demo/webuploader-demo.css">
    
    
    <link href="__HPLUS__/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="__HPLUS__/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="__HPLUS__/css/style.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{$this_auth.name}
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" action="{:U('editPortHanddle')}" onsubmit="return checkform(this)">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">港口名字</label>
                                <div class="col-sm-10">
                                <input type="hidden" name="id" value="{$power.id}"/>
                                <input type="text" name="name" value="{$power.name}" class="form-control"> 
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">港口图片</label>
                                <input type="hidden" name="picture" value="{$power.picture}"/>
                                <input type="hidden" name="litpic" value="{$power.litpic}"/>
                                <div class="col-sm-10">
                                   <div id="uploader"  class="wu-example">
                                                        <div class="queueList">
                                                            <div id="dndArea" style="padding-top:10px; min-height:80px;" class="placeholder">
                                                            	<img src="{$power.true_pic}" id='true_pic'/>
                                                                <div id="filePicker"></div>
                                                            </div>
                                                        </div>
                                                        <div class="statusBar" style="display:none;">
                                                            <div class="progress">
                                                                <span class="text">0%</span>
                                                                <span class="percentage"></span>
                                                            </div>
                                                            <div class="info"></div>
                                                            <div class="btns">
                                                                <div id="filePicker2"></div>
                                                                <div class="uploadBtn">开始上传</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">港口库存</label>
                                <div class="col-sm-10">
                                	<input type="text" name="inventory" value="{$power.inventory}" class="form-control"/> 
                                    <span class="help-block m-b-none">万吨</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">增减</label>
                                <div class="col-sm-10">
                                	<input type="text" name="in_out" value="{$power.in_out}" class="form-control"/> 
                                    <span class="help-block m-b-none">万吨</span>
                                </div>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <button class="btn btn-white" type="submit">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 全局js -->
    <script src="__HPLUS__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__HPLUS__/js/bootstrap.min.js?v=3.3.6"></script>

    <!-- 自定义js -->
    <!--<script src="__HPLUS__/js/content.js?v=1.0.0"></script>-->

    
    <!-- SUMMERNOTE -->
    <script src="__HPLUS__/js/plugins/summernote/summernote.min.js"></script>
    <script src="__HPLUS__/js/plugins/summernote/summernote-zh-CN.js"></script>
    <script>
		//编辑器
        $(document).ready(function () {
            $('.summernote').summernote({
                lang: 'zh-CN',
				onImageUpload: function(files, editor, welEditable) {
                        sendFile(files[0],editor,welEditable);
                },
				edit:edit,
            });
			
        });
        var edit = function () {
            $("#eg").addClass("no-padding");
            $('.click2edit').summernote({
                lang: 'zh-CN',
                focus: true
            });
        };
        var save = function () {
            $("#eg").removeClass("no-padding");
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };
		//表单提交
		function checkform(obj)
		{
		$('#bodytext').val($('.summernote').code());    
		}
		//编辑器图片上传
		 function sendFile(file,editor,welEditable) {
                data = new FormData();
                data.append("file", file);
                $.ajax({
                    data: data,
                    type: "POST",
                    url: "{:U('Api/Upload/editorUpImg')}",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        editor.insertImage(welEditable, data);
                    }
                });
            }
    </script>
    <!--上传-->
  <!-- Web Uploader -->
    <script type="text/javascript">
		var UP_URL="{:U('Api/Upload/baiduUpImg')}";
        // 添加全局站点信息
        var BASE_URL = 'js/plugins/webuploader';
    </script>
    <script src="__HPLUS__/js/plugins/webuploader/webuploader.min.js"></script>

    <script src="__HPLUS__/js/demo/webuploader-demo.js"></script>
</body>
</html>
